<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.trusec">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditProfileActivity"></activity>
        <activity android:name=".MyProfileActivity" />
        <activity
            android:name=".MyLeavesActivity"
            android:noHistory="false" />
        <activity
            android:name=".ApplyLeaveActivity"
            android:noHistory="true" />
        <activity android:name=".ConfirmDeclineActivity" />
        <activity
            android:name=".VenueDetailsActivity"
            android:noHistory="false" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true" />
        <activity
            android:name=".DisplayShiftActivity"
            android:noHistory="false" />
        <activity
            android:name=".SignUp"
            android:noHistory="true" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>